In [1]:
import pandas as pd # import pandas library

In [2]:
# import data
path_to_dataset = 'ml-100k/u.data'
columns = ['user_id', 'item_id', 'rating', 'timestamp']
ratings = pd.read_csv(path_to_dataset, sep='\t', names=columns)

In [3]:
# import item file
path_to_movies = 'ml-100k/u.item'
movie_columns = ['item_id', 'title', 'release_date', 'video_release_date', 'IMDb_url',
                 'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime',
                 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery',
                 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
movies = pd.read_csv(path_to_movies, sep='|', encoding='latin-1', names=movie_columns)

In [4]:
# merge ratings and movies
movie_ratings = pd.merge(ratings, movies[['item_id', 'title', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']], on='item_id')
movie_ratings

,user_id,item_id,rating,timestamp,title,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,196,242,3,881250949,Kolya (1996),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,63,242,3,875747190,Kolya (1996),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,226,242,5,883888671,Kolya (1996),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,154,242,3,879138235,Kolya (1996),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,306,242,5,876503793,Kolya (1996),0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,840,1674,4,891211682,Mamma Roma (1962),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99996,655,1640,3,888474646,"Eighth Day, The (1996)",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99997,655,1637,3,888984255,Girls Town (1996),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99998,655,1630,3,887428735,"Silence of the Palace, The (Saimt el Qusur) (1...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99999,655,1641,3,887427810,Dadetown (1995),0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
categories = ['Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

top_movies_by_category = {}

for category in categories:
    category_movies = movie_ratings[movie_ratings[category] == 1]
    top_movies = category_movies.groupby('title')['rating'].mean().sort_values(ascending=False).head(5)
    top_movies_by_category[category] = top_movies

In [6]:
for category, top_movies in top_movies_by_category.items():
    print(f"\nTop 5 Movies in {category}:\n")
    print(top_movies)

Top 5 Movies in Action:

title
Star Wars (1977)                   4.358491
Godfather, The (1972)              4.283293
Raiders of the Lost Ark (1981)     4.252381
Titanic (1997)                     4.245714
Empire Strikes Back, The (1980)    4.204360
Name: rating, dtype: float64

Top 5 Movies in Adventure:

title
Star Kid (1997)                    5.000000
Star Wars (1977)                   4.358491
Raiders of the Lost Ark (1981)     4.252381
Lawrence of Arabia (1962)          4.231214
Empire Strikes Back, The (1980)    4.204360
Name: rating, dtype: float64

Top 5 Movies in Animation:

title
Close Shave, A (1995)                                     4.491071
Wrong Trousers, The (1993)                                4.466102
Wallace & Gromit: The Best of Aardman Animation (1996)    4.447761
Faust (1994)                                              4.200000
Grand Day Out, A (1992)                                   4.106061
Name: rating, dtype: float64

Top 5 Movies in Children's:

title
Star Kid (1997)                      5.000000
Wizard of Oz, The (1939)             4.077236
Babe (1995)                          3.995434
Toy Story (1995)                     3.878319
E.T. the Extra-Terrestrial (1982)    3.833333
Name: rating, dtype: float64

Top 5 Movies in Comedy:

title
Santa with Muscles (1996)     5.000000
Close Shave, A (1995)         4.491071
Wrong Trousers, The (1993)    4.466102
North by Northwest (1959)     4.284916
Shall We Dance? (1996)        4.260870
Name: rating, dtype: float64

Top 5 Movies in Crime:

title
They Made Me a Criminal (1939)     5.000000
Usual Suspects, The (1995)         4.385768
Letter From Death Row, A (1998)    4.333333
Godfather, The (1972)              4.283293
Crossfire (1947)                   4.250000
Name: rating, dtype: float64

Top 5 Movies in Documentary:

title
Marlene Dietrich: Shadow and Light (1996)     5.000000
Great Day in Harlem, A (1994)                 5.000000
Everest (1998)                                4.500000
Maya Lin: A Strong Clear Vision (1994)        4.500000
Hoop Dreams (1994)                            4.094017
Name: rating, dtype: float64

Top 5 Movies in Drama:

title
Aiqing wansui (1994)                                 5.0
Saint of Fort Washington, The (1993)                 5.0
Prefontaine (1997)                                   5.0
Entertaining Angels: The Dorothy Day Story (1996)    5.0
They Made Me a Criminal (1939)                       5.0
Name: rating, dtype: float64

Top 5 Movies in Fantasy:

title
Star Kid (1997)                        5.000000
E.T. the Extra-Terrestrial (1982)      3.833333
Heavenly Creatures (1994)              3.671429
20,000 Leagues Under the Sea (1954)    3.500000
Jumanji (1995)                         3.312500
Name: rating, dtype: float64

Top 5 Movies in Film-Noir:

title
Manchurian Candidate, The (1962)    4.259542
Crossfire (1947)                    4.250000
Maltese Falcon, The (1941)          4.210145
Sunset Blvd. (1950)                 4.200000
L.A. Confidential (1997)            4.161616
Name: rating, dtype: float64

Top 5 Movies in Horror:

title
Psycho (1960)                4.100418
Alien (1979)                 4.034364
Young Frankenstein (1974)    3.945000
Braindead (1992)             3.857143
Shining, The (1980)          3.825243
Name: rating, dtype: float64

Top 5 Movies in Musical:

title
Wizard of Oz, The (1939)        4.077236
Top Hat (1935)                  4.047619
Damsel in Distress, A (1937)    4.000000
Singin' in the Rain (1952)      3.992701
This Is Spinal Tap (1984)       3.905759
Name: rating, dtype: float64

Top 5 Movies in Mystery:

title
Rear Window (1954)            4.387560
Third Man, The (1949)         4.333333
Vertigo (1958)                4.251397
Maltese Falcon, The (1941)    4.210145
Amadeus (1984)                4.163043
Name: rating, dtype: float64

Top 5 Movies in Romance:

title
Casablanca (1942)                  4.456790
Star Wars (1977)                   4.358491
Titanic (1997)                     4.245714
Empire Strikes Back, The (1980)    4.204360
Affair to Remember, An (1957)      4.192308
Name: rating, dtype: float64

Top 5 Movies in Sci-Fi:

title
Star Kid (1997)                                                                5.000000
Star Wars (1977)                                                               4.358491
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)    4.252577
Empire Strikes Back, The (1980)                                                4.204360
Blade Runner (1982)                                                            4.138182
Name: rating, dtype: float64

Top 5 Movies in Thriller:

title
Close Shave, A (1995)                      4.491071
Rear Window (1954)                         4.387560
Usual Suspects, The (1995)                 4.385768
Third Man, The (1949)                      4.333333
Some Folks Call It a Sling Blade (1993)    4.292683
Name: rating, dtype: float64

Top 5 Movies in War:

title
Schindler's List (1993)                                                        4.466443
Casablanca (1942)                                                              4.456790
Star Wars (1977)                                                               4.358491
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)    4.252577
Lawrence of Arabia (1962)                                                      4.231214
Name: rating, dtype: float64

Top 5 Movies in Western:

title
High Noon (1952)                             4.102273
Wild Bunch, The (1969)                       4.023256
Butch Cassidy and the Sundance Kid (1969)    3.949074
Magnificent Seven, The (1954)                3.942149
Once Upon a Time in the West (1969)          3.868421
Name: rating, dtype: float64